* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	box-sizing: inherit;
}
body {
	min-width: 320px;
	width: 100%;
	background-color: black;
}
header,
main,
section,
footer {
	display: flex;
	justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}
button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.container {
	display: flex;
	justify-content: center;
	max-width: 1360px;
	width: 100%;
	margin: 0 auto;
	padding: 0px 80px;
	height: 100vh;
}
